PORT=4000
DATABASE_URL=postgresql://neondb_owner:npg_l7qsiD6CVvYu@ep-lucky-lab-a4uqkoyv-pooler.us-east-1.aws.neon.tech/neondb?ssl>JWT_SECRET=0591533dcbb48dc392002a9112e473e7351b3155918d1b64e5a5e93ebe1b6ccc
SEED_EDITOR_EMAIL=editor@newsroom.local
SEED_EDITOR_PASSWORD=Editor123!
SEED_EDITOR_NAME=Newsroom Editor
ADMIN_EMAIL=admin@newznow.org
ADMIN_PASSWORD=Admin123!
# SRT Base URL for Wirecast/OBS ingest of reporter streams
SRT_BASE_URL=srt://www.newznow.org:9999/live
DISABLE_AUTO_RECORDING=false
RETURN_FEED_STREAM=reporter_1
OME_WS_BASE_URL=ws://127.0.0.1:3333
MODULE2_URL=http://204.168.181.42
MODULE2_WEBHOOK_SECRET=e5f3539e9cc9a067b4fb502ac40a7d798ee8b3e103d172ce143af2bd4da29c34
# Public URL that Module 2 can access for uploaded files
UPLOAD_PUBLIC_BASE_URL=https://www.newznow.org